export("simulateData")
export("simPower")
export("simPowerZeroRestriction")
export("simPowerSpecificVarianceTest")

export("simPowerWaldTest")

export("sampleSize")
export("power")

export("effectiveError")
export("ecr")
export("grr")
export("lgcm")
export("qgcm")
export("bivariateLgcm")

export("powerFromError")
export("powerFromError2df")

#export("getOpenMxRepresentation")
export("toOpenMx")

export("plot.simPower")
export("print.simPower")

export("icc2")

export("effective.error.from.ecr")
export("ecr.generic")

export("getExpectedCovariance")
export("getExpectedMean")
export("modelPredictedCov")
export("nonCentralityEstimate")
